/* -------------------------------------------------------------------------------------------------------- */
/* 背景色 */
/* -------------------------------------------------------------------------------------------------------- */
.loginBackColor{
    position: fixed;
    top : 100px;
    left : 430px;
    background : #ececec;
    width : 500px;
    height: 250px;
    position : fixed;
}
