/* -------------------------------------------------------------------------------------------------------- */
/* 背景色 */
/* -------------------------------------------------------------------------------------------------------- */
.signUpBackColor {
    position: fixed;
    top : 100px;
    left : 430px;
    background : #ececec;
    width : 500px;
    height: 270px;
}
